/* 
// variables.scss
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

// Color variables
$white:                     #fff;
$gray-100:                  #f8f9fb;
$gray-200:                  #eff1f5;
$gray-300:                  #e2e7f1;
$gray-400:                  #ced4da;
$gray-500:                  #adb5bd;
$gray-600:                  #6c757d;
$gray-700:                  #4B4B5A;
$gray-800:                  #343a40;
$gray-900:                  #212529;
$black:                     #000;
$footer:                    #F8F6F6;
$bluis :                      #9EBAFD;
$light-rose:                #FF9894;
$golden:                    #f7af6d;
$primary:                   #2753ff;
$purple:                    #a369ff;
$success:                   #2ac297;
$info:                      #56c6e6;
$warning:                   #ffbb13;
$danger:                    #f43958;
$dark:                      #29344a;
$light:                     #fbfbfb;
$body-bg:                   #ffffff;

$bg-counter:                #5e62ff;
$footer-bg:                 #343a40;



$gradiant-bluis: linear-gradient(to right top, #9EBAFD, #f1fafc);
$gradiant-purple: linear-gradient(to right top, #A49CF4, #DACAFE);
$gradiant-rose: linear-gradient(to right top, #FFB3E8, #fcecf1);
$gradiant-green: linear-gradient(to left top, #81E4B1, #E4FAB5);
$gradiant-orange: linear-gradient(to right, #FFC187, #FFEFBB);
$gradiant-light-orange: linear-gradient(to right, #FF9894, #FFD5BF);
// $gradiant-violet: linear-gradient(to right, #9d50bb, #6e48aa);
$gradiant-violet: linear-gradient(to right, #A39CF4, #DFCBFD);
$gradiant-mix: linear-gradient(to right, #83a4d4, #b6fbff);
$gradiant-text-purple: linear-gradient( #A49CF4, #DACAFE);
$gradiant-text-rose: linear-gradient( #FFB3E8, #f8cbdc);
$gradiant-text-green: linear-gradient( #81E4B1, #E4FAB5);
$gradiant-text-orange: linear-gradient( #FFC187, #FFEFBB);
$gradiant-text-dark-orange: linear-gradient( #F6B352, #FFC187);


$theme-colors: (
    "primary": $primary,
    "secondary": $gray-600,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "dark": $dark,
    "light": $light,
    "body-bg": $body-bg,
    "black": $black,
    "white": $white,
    "golden":$golden,

);

$gradiant-text-colors: (
    "purple": $gradiant-text-purple,
    "rose"  : $gradiant-text-rose,
    "orange" : $gradiant-text-orange,
    "green"  : $gradiant-text-green,
    "dark-orange"  : $gradiant-text-dark-orange,
    
);

$display-light: block;

$display-dark: none;

$box-shadow-sm: 0 0 0.25rem rgba($gray-700, .05);
$box-shadow: 0 0.2rem 0.6rem rgba($gray-900, 0.05);
$box-shadow-lg: 0 0rem 2rem rgba($black, 0.12);

$border-radius-lg: 14px;

// Font
$font-primary:            'Open Sans', sans-serif;
$font-secondary:          'Assistant', sans-serif;
$font-fancy:              'Playfair Display';
$font-jura:                'Jura';
$font-montserrat:            'Montserrat',sans-serif;

$loader-color: $black;